*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: black;

  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 14px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #18ba60;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 0.7  ;
}



/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
  margin: 0;
  background-color: #3a526a;
  height: 40px;
  font-size: 12px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}


#topbar .contact-info i {
  font-style: normal;
  color: #fff;
  margin-left: 10px;
}
#topbar .contact-info i a, #topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}
#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

.seperator{
  opacity: 0.5;
  font-style: normal;
  padding-left: 5px;
  padding-right: 5px;
}

#topbar .social-links a {
  color: white;
  line-height: 0;
  transition: 0.3s;
  padding: 8px;
  transition: all 0.6s ease 0s;
}

.fa-question-circle{
  padding-right: 8px;
}


#topbar .social-links a:hover {
  background-color: #18ba60;
}

.fa a{
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

#topbar .contact-info i a:hover {
  color: #18ba60;
}

.haveany{
  display: inline-block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

#topbar .container .social-links .haveany a{
  background-color: #18ba60;
  font-size: 14px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 45px;
  margin-left: 20px;
  color: #fff;
}

#topbar .container .social-links .haveany a:hover{
  background-color: rgb(44, 44, 44);
  color: #18ba60;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 86px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#header.fixed-top {
  height: 70px;
}
#logo {
  background-image: url("Images/logo.png");
  height: 50px;
  width: 155px;
  border: 0;
}

#logo:hover{
  cursor: pointer;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
  padding: 0;

}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600; 
}

.navbar a{
  color: #222222;
}

.navbar a:hover {
  color: #18ba60;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  height:100vh;
  background: url("Images/hero.jpg") top center no-repeat;
  background-repeat: no-repeat;

}

#hero h1 {
  margin: 0;
  font-size: 66px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing:1.5px;
  color: rgb(34, 34, 34);
  word-spacing: 2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
#hero h1 span {
  color: #106eea;
}
#hero h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 65px;
  color: rgb(34, 34, 34);
  word-spacing: 2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
#hero .btn-get-started {
  margin-top:4em;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 17px 35px;
  border-radius: 1px;
  transition: 0.5s;
  color: #fff;
  background: #18ba60;
}
#hero .btn-get-started b{
  padding-right: 12px;
}
#hero .btn-get-started:hover {
  background: white;
  color: black;
}
#hero .btn-get-started .fa{
  margin: 0px;
  font-size: 12px;
}



@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .btn-get-started {
    font-size: 13px;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*======================================
To the TOP
======================================*/
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding: 6px 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #18ba60;
}


/* =================================================================
# Content Grid
===================================================================*/

.content-grid{
  margin: 0;
  padding: 70px 70px 30px 70px;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

img {
  border: 0;
  vertical-align: middle;
  max-height: 248.64px;
  max-width: 400px;
}

.glyphicons{
  margin: 1em;
  max-height: 50px;
  max-width: 50px;
  opacity: 0.6;
}

.column-one{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  max-width: 400px;
}

.card-content {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  margin: 1em;
}

.convert{
  display: flex;
  flex-direction: row;
}

.card-content h5{
  font-size: 15px;
  font-weight: 700;
}
.card-content p{
  font-size: 14px;
}
.card-content h5:hover {
  color: #18ba60;
  cursor: pointer;
}